<app-header></app-header>
<div
  class="flex justify-between align-center flex-row mx-3 mt-5 lg:mx-8 lg:mt-10"
>
  <div
    class="shadow-md flex-col rounded-md bg-white mr-5 py-5 px-4 min-w-[25%] hidden lg:block"
  >
    <section>
      <app-nav></app-nav>
    </section>
  </div>
  <div
    class="max-w-[100%] lg:max-w-[75%] w-full py-5 px-4 bg-white rounded-md shadow-md"
  >
    <div class="mb-5">
      <div class="flex flex-row items-center text-sm">
        <span>Anaysafa</span>
        <fa-icon class="mx-2" [icon]="breadCrumb"></fa-icon> 
        <div>Kampanyalar</div>
      </div>
      <h1 class="text-4xl font-bold mb-1">Kampanyalar</h1>
    </div>
    <div>
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3">Puanlandırma</th>
              <th scope="col" class="px-6 py-3">Başlık</th>
              <th scope="col" class="px-6 py-3">Açıklama</th>
              <th scope="col" class="px-6 py-3">İşlemler</th>
              <th scope="col" class="px-6 py-3">Tarih</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="bg-white border-b border-gray-200"
              *ngFor="let campaign of campaigns"
            >
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <button
                    class="inline-flex items-center justify-center p-1 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                    type="button"
                    (click)="decreasePoint(campaign.id)"
                  >
                    <span class="sr-only">Quantity button</span>
                    <svg
                      class="w-3 h-3"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 18 2"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h16"
                      />
                    </svg>
                  </button>
                  <div class="ms-3">
                    <input
                      type="number"
                      id="first_product"
                      class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      [value]="campaign.points"
                      
                    />
                  </div>
                  <button
                    class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                    type="button"
                    (click)="increasePoint(campaign.id)"
                  >
                    <span class="sr-only">Quantity button</span>
                    <svg
                      class="w-3 h-3"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 18 18"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 1v16M1 9h16"
                      />
                    </svg>
                  </button>
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="font-bold">
                  {{ campaign.title }}
                </div>
              </td>
              <td class="px-6 py-4">
                {{ campaign.description }}
              </td>
              <td class="px-6 py-4">
                <div class="flex flex-row">
                  <a
                    (click)="openEditModal(campaign.id)"
                    class="bg-green-500 text-white text-md px-3 py-2 rounded-md me-3"
                  >
                    <fa-icon [icon]="iconUpdate"></fa-icon>
                  </a>
                  <a
                    (click)="onDelete(campaign.id)"
                    class="bg-red-500 text-white text-md px-3 py-2 rounded-md me-3"
                  >
                    <fa-icon [icon]="iconDelete"></fa-icon>
                  </a>
                </div>
              </td>
              <td class="px-6 py-4">
                {{ campaign.createdAt | date : "dd/MM/yyyy HH:mm" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showEditModal">
  <div id="backdrop2" class="fixed inset-0 bg-black opacity-80 z-40"></div>
  <div id="modal" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-[90%] max-w-md">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold">Güncelle</h2>
        <button
          id="closeModal"
          (click)="showEditModal = false"
          class="text-2xl"
        >
          <fa-icon [icon]="closeModal"></fa-icon>
        </button>
      </div>
      <app-campaigns-form
        [btnLabel]="'Güncelle'"
        [isPoint]="false"
        [selectdId]="selectedCampaignId"
        (formSubmitted)="modalFormClose()"
      ></app-campaigns-form>
    </div>
  </div>
</div>
