<div
  class="relative hidden md:block min-h-screen login-banner-bg bg-no-repeat bg-center bg-cover"
>
  <div class="absolute inset-0 bg-black opacity-40"></div>
  <div
    class="absolute inset-0 flex flex-col justify-center items-start text-white px-10"
  >
    <h2 class="text-white font-[600] text-7xl mb-10 text-7xl/18">
      Yenilikçi, hızlı <br />ve kolay
    </h2>
    <p class="text-lg/7">
      Finansal hizmetlerin tek hesap üzerinden yepyeni bir deneyimle
      gerçekleştirilmesi için çalışırken, kullanıcılarımızın hayatların
      kolaylaştıracak ürün ve hizmetleri geliştirmeye aralıksız devam ediyoruz.
    </p>
  </div>
</div>
